body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #cbb;

  }
  
  main {
    flex: 1 0 auto;
    color: #824;
  }
  
  a{
    color: #824;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    
  }

  .card{
    background-color:  #edb;
    cursor: pointer;
  }